<i class="{{statusIcon}} icon"></i>
{{#if isRunning}}
  <div class="pulse"></div>
{{/if}}
<div class="label">
  <p>
    <strong>{{model.name}}</strong><br/>
    {{duration model.started model.finished}}
  </p>
</div>
