<div class="item"><img src="assets/images/logo.svg" class="ui small image"></div>

<div class="right menu">
  <a class="item" {{ action 'logout' }} alt="Logout"><i class="sign out icon"></i>Logout</a>
</div>
