<div class="two column row">
  <div class="left floated column">
    <div class="ui large header breadcrumb">
      <h1>Pipelines</h1>
    </div>
  </div>
  <div class="right floated column">
    {{#ui-link-to routeName='pipelines.create' tagName="button" class="ui right floated in-header icon button" data-content="Create Pipeline"}}<i class="plus icon"></i>{{/ui-link-to}}
  </div>
</div>

<div class="sixteen wide column full-height">
  {{#if pipeline.all.isFulfilled}}
    {{#if pipeline.all.length}}
      <div class="ui cards">
      {{#each pipeline.sorted as |pipeline|}}
        {{#unless pipeline.isNew}}
          {{pipeline-card model=pipeline}}
        {{/unless}}
      {{/each}}
      </div>
    {{else}}
      <div class="ui center aligned segment">No pipelines found.</div>
    {{/if}}
  {{else}}
    <div class="ui center aligned very padded basic segment">
      <div class="ui tiny text active inline loader">Loading</div>
    </div>
  {{/if}}
</div>

{{outlet}}
