.ui.cards > .card > .extra, .ui.card > .extra {
  color: #000000;
}

.ui.cards > .card > .extra.SUCCESS, .ui.card > .extra.SUCCESS {
  background: @colorSuccess;
}
.ui.cards > .card > .extra.FAIL, .ui.card > .extra.FAIL {
  background: @colorFail;
}
.ui.cards > .card > .extra.PENDING, .ui.card > .extra.PENDING {
  background: @colorPending;
}
