{{#unless session.isAuthenticated}}
  <div class="ui middle center aligned columned grid">
    <div id="login" class="six wide centered column">
      <div class="ui raised padded segment">
        <img class="ui centered image" src="assets/images/logo-avatar.png" style="" id="brand">
        <div class="ui basic segment">
          <button class="ui large fluid github labeled icon button {{if loginTask.isIdle 'disabled'}}" {{action "login"}}>
            <i class="large github icon"></i>LOGIN WITH GITHUB
          </button>
          <div class="ui negative {{if session.errorMessage 'visible' 'hidden'}} message">
            <div class="content">
              <p>{{session.errorMessage}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/unless}}
